body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
    /* url("https://i.ytimg.com/vi/4l6J5jhRgos/maxresdefault.jpg"); */
    background-size: cover;
    
}

h1 {
    padding-top: 30%;
}

